# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars

# Keys
*.pem
*.key

# Logs
*.log

# OS
.DS_Store
swiggy-clone-kp.pem
ARCHITECTURE.md
DEPLOYMENT_FLOW.md
RUNBOOK.md
ARTICLE_OUTLINE.md
